*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}

.header{
    height: 100vh;
    background-image: url(./assets/background-header.jpg);
    background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
     
    
}img:hover { transform: scale(1.2);}
h2{
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style:italic ;
    color: #fff;
    padding: 2rem;
}
nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    
}
nav > ul >li {
    margin: 1rem;
    align-items: center;
    padding: 12px , 20px;
    display: inline-block;
    
}
a{
    text-decoration: none;
}
#nav-links > li >a {
    color: #fff;
}
#header-img{
    display: block;
    justify-content: center;
    
}
.blog-img{
    justify-content: center;
}
.blog-tittle{
    color: #fff;
    font-size: x-large;
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
.form-caption{
    font-family: "Playwrite CU", cursive;

    color: #fff;
    
}
.newsletter-email{
    height: 1rem;
    width: 10rem;
    margin: 1rem;
    padding: 0.2rem;
}.newsletter-submit{
    width: 6rem;
    box-shadow: #fff;
    padding: 0.2rem;
    background-color: bisque;
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
    .header{
        height: 100%;
}






